body {
    font-family: "palatino linotype", palatino, serif;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.circular-image {
    /* originally found here: https://stackoverflow.com/questions/61808278/how-do-i-make-bootstrap-image-rounded */
    width: 80%;
    border-radius: 75%;
}