body {
    font-family: "palatino linotype", palatino, serif;
}

.no-padding-horizontal {
    padding-left: 0;
    padding-right: 0;
}

.circular-image {
    /* originally found here: https://stackoverflow.com/questions/61808278/how-do-i-make-bootstrap-image-rounded */
    width: 80%;
    border-radius: 75%;
}

.card {
background-color: #002b36;

}

.bg-color-2 {
    background-color: #073642;
}

ul {
    list-style-type: none;
}

.viewport-height {
    min-height: 100vh;
}

.medium {
    margin-top: 5px;
}
.github{
    margin-top: 4px;
}

.gmail{
    margin-top: -2px;
}

.sm-medium {
    width: 45px;
    height: 45px;
    margin-top: 3px;
}